<?xml version="1.0" encoding="UTF-8" ?>
<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.CommodityMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into commodity(name, price, stock, description, image, status, sales, created_time, updated_time, brand_id)
        values (#{name}, #{price}, #{stock}, #{description}, #{image}, #{status}, #{sales}, #{createdTime}, #{updatedTime}, #{brandId})
    </insert>

    <update id="update">
        update commodity
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="price!= null and price!= ''">price = #{price},</if>
            <if test="stock!= null and stock!= ''">stock = #{stock},</if>
            <if test="description!= null and description!= ''">description = #{description},</if>
            <if test="image!= null and image!= ''">image = #{image},</if>
            <if test="status!= null">status = #{status},</if>
            <if test="sales!= null">sales = #{sales},</if>
            <if test="updatedTime!= null">updated_time = #{updatedTime},</if>
            <if test="brandId!= null">brand_id = #{brandId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from commodity where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="list" resultType="org.example.bean.Commodity">
        select * from commodity
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="minPrice!= null and maxPrice!= null and minPrice !='' and maxPrice != ''">
                and price between #{minPrice} and #{maxPrice}
            </if>
        </where>
    </select>

    <select id="getInfo" resultType="org.example.bean.Commodity">
        select * from commodity where id = #{id}
    </select>

    <select id="getCommoditySaleData" resultType="java.util.Map">
        select name
             , sales sales from commodity order by sales desc limit 5;
    </select>

</mapper> 