<?xml version="1.0" encoding="UTF-8" ?>
<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.DeliveryMapper">
    <insert id="insert">
        insert into delivery (order_id, courier_name, courier_phone, courier_company, delivery_address, delivery_time, arrival_time, status, location)
        values (#{orderId}, #{courierName}, #{courierPhone}, #{courierCompany}, #{deliveryAddress}, #{deliveryTime}, #{arrivalTime}, #{status}, #{location})
    </insert>

    <update id="update">
        update delivery
        <set>
            <if test="orderId!= null and orderId!= ''">order_id = #{orderId},</if>
            <if test="courierName!= null and courierName!= ''">courier_name = #{courierName},</if>
            <if test="courierPhone!= null and courierPhone!= ''">courier_phone = #{courierPhone},</if>
            <if test="courierCompany!= null and courierCompany!= ''">courier_company = #{courierCompany},</if>
            <if test="deliveryAddress!= null and deliveryAddress!= ''">delivery_address = #{deliveryAddress},</if>
            <if test="deliveryTime!= null">delivery_time = #{deliveryTime},</if>
            <if test="arrivalTime!= null">arrival_time = #{arrivalTime},</if>
            <if test="status!= null">status = #{status},</if>
            <if test="location!= null">location = #{location},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from delivery where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="org.example.bean.Delivery">
        select * from delivery
        <where>
            <if test="orderId!= null">
                and order_id = #{orderId}
            </if>
            <if test="courierName!= null and courierName!= ''">
                and courier_name like concat('%', #{courierName}, '%')
            </if>
            <if test="begin!= null and end!= null">
                and delivery_time between #{begin} and #{end}
            </if>
        </where>
    </select>

    <select id="getInfo" resultType="org.example.bean.Delivery">
        select * from delivery where id = #{id}
    </select>
</mapper>